<div class="col-md-8 col-md-offset-2">
  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  <% if current_user.admin %>
    <li><%= link_to 'Export to CSV', users_path(format: :csv) %></li>
    <li><%= link_to 'navigate to the admin panel', admins_path if current_user.admin %></li>
  <% end %>

  <table class="table table-striped" id="customers">
    <td><%= sort_link(@q, :id) %></td>
    <td><%= sort_link(@q, :email) %></td>
    <td><%= sort_link(@q, :is_male, 'Gender') %></td>
    <td><%= sort_link(@q, :birthday, 'Age') %></td>
    <td><%= 'interests' %></td>
    <td></td>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.interests_list  %></td>
        <% if current_user.admin %>
          <td><%= link_to image_tag('trash.png'), user, id: "trash_icon_#{user.id}", method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
